flake8
black
isort
pytest-cov
codecov
mypy
gitchangelog
mkdocs
batchgenerators==0.21
matplotlib==3.6.2
ml-collections==0.1.1
pandas==1.5.1
tensorboard==2.10.0
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.1
opencv-python
